*.map
csvEditorHtml/out/
node_modules
TODO.md
.vscode-test
scripts.md
backup
*.vsix
out/**/*
cypress
csvEditorHtml/browser/dist
csvEditorHtml/browser/imgs/private
# only needed for web start folder
exampleCSV/
images/logo_backup/*
.vscode-test-web/*
dist/web/
