.vscode/**
.vscode-test/**
.github/**
out/test/**
src/**
csvEditorHtml/index.html
*.vsix
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
TODO.md
node_modules/@types
backup
images/**
scripts.md
thirdParty/info.md
thirdParty/bulma/bulma.css
thirdParty/handsontable/handsontable.css
thirdParty/handsontable/handsontable.d.ts
thirdParty/handsontable/handsontable.js
thirdParty/handsontable/handsontable.js.map
thirdParty/mousetrap/mousetrap.js
thirdParty/mousetrap/plugins/global-bind/mousetrap-global-bind.js
thirdParty/mousetrap/plugins/global-bind/README.md
thirdParty/papaparse/papaparse.js
thirdParty/papaparse/Changelog.md
promtUploadbuild.js
cypress
csvEditorHtml/browser/**
csvEditorHtml/out/browser/**
# not used anymore but we might need to copy certain rules...
thirdParty/bulma-extensions/**