
body.vscode-dark {
	color: #d0d0d0;

	--button-icon-background: transparent;
	--button-icon-hover-background: rgba(90, 93, 94, 0.31);
}

.vscode-dark input.input::placeholder {
	color: #7d7d7d;
}

.vscode-dark .button.is-light {
	background-color: #404040;
	color: #d0d0d0;
}

.vscode-dark .button.is-outlined {
	background-color: #404040;
	color: #d0d0d0;
}
.vscode-dark .button.is-outlined:hover {
	background-color: #d0d0d0;
	color: #404040;
}
.vscode-dark .button.is-outlined:focus {
	background-color: #404040;
	color: #d0d0d0;
}

.vscode-dark .radio:hover {
	color: #d0d0d0;
}

.vscode-dark .select select {
	border-color: #8e8e8e;
	background-color: #404040;
	color: #d0d0d0;
}

.vscode-dark .select:not(.is-multiple):not(.is-loading)::after {
	border-color: #d0d0d0;
}
.vscode-dark .select:not(.is-multiple):not(.is-loading):hover::after {
	border-color: #888888;
}

.vscode-dark .switch[type=checkbox]+label::after,
.vscode-dark.switch[type=checkbox]+label:after{
	background-color:#5b5a5a;
}

.vscode-dark .switch[type=checkbox]:checked+label::before,
.vscode-dark.switch[type=checkbox]:checked+label:before {
	background-color: #00a78e;
}

.vscode-dark .title {
	color: #d0d0d0;
}

.vscode-dark .box {
	background-color: #404040;
	color: #d0d0d0;
}

.vscode-dark .keys {
	color: #d0d0d0;
	background: #404040;
	border-color: #ccc #aaa #888 #bbb;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #888 inset;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #888 inset;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #888 inset;
}

.vscode-dark a:hover {
	color: #9a9a9a;
}

/* handson table styles */

.vscode-dark .ht_master,
.vscode-dark .handsontable th {
	color: #d0d0d0 !important;
}


/* Edit mode */
.vscode-dark .handsontableInput {
	background-color: #504f4f!important;
	color: #d0d0d0;
}

/* All headers */
.vscode-dark .handsontable th {
	background-color: rgb(26, 29, 29);
}

.vscode-dark .handsontable span.colHeader.columnSorting::before {
	filter: invert(100%);
}

.vscode-dark .ht_clone_top th {
  border-color: #5c5c5c;
}

/* fixed rows/columns */
.vscode-dark .ht_clone_top tr:nth-of-type(odd)> td,
.vscode-dark .ht_clone_left tr:nth-of-type(odd)> td,
.vscode-dark .ht_clone_top_left_corner tr:nth-of-type(odd)> td {
	background-color: #262c2e;
	border-color: #5c5c5c;
}

.vscode-dark .ht_clone_top tr:nth-of-type(even)> td,
.vscode-dark .ht_clone_left tr:nth-of-type(even)> td,
.vscode-dark .ht_clone_top_left_corner tr:nth-of-type(even)> td {
	background-color: #2d3436;
	border-color: #5c5c5c;
}

.vscode-dark .ht_clone_top tr:last-child > td,
.vscode-dark .ht_clone_top_left_corner tr:last-child > td {
	border-bottom-color: #b7b7b7;
}

.vscode-dark .ht_clone_left tr > td:last-child,
.vscode-dark .ht_clone_top_left_corner tr > td:last-child {
	border-right-color: #b7b7b7;
}

.vscode-dark .handsontable tr {
	background: #5c5c5c;
}

/* normal rows */
.vscode-dark .ht_master tr:nth-of-type(odd) > td {
	background-color: #262c2e;
	border-color: #5c5c5c;
}

.vscode-dark .ht_master tr:nth-of-type(even) > td {
	background-color: #2d3436;
	border-color: #5c5c5c;
}

.vscode-dark .ht_clone_left th {
	background-color:rgb(26, 29, 29);
	border-color: #5c5c5c !important;
}

.vscode-dark .ht_clone_top th {
	background-color: rgb(26, 29, 29);
	border-color: #5c5c5c !important;
}

.vscode-dark .handsontable tbody th.ht__highlight.foo,
.vscode-dark .handsontable thead th.ht__highlight.foo {
  background-color: #0251b5;
}

/* we don't need this... first real column... light css doesn't even have this*/
.vscode-dark .handsontable th:nth-child(2) {
	/* border-left: 1px solid #5c5c5c !important; */
}
.vscode-dark .ht_clone_top thead tr:nth-child(2) {
	border: 0 !important;
}

.vscode-dark .ht_clone_top_left_corner th {
  border-color: #5c5c5c!important;
}

.vscode-dark .ht_clone_top_left_corner thead tr:nth-child(1) {
	border-right: 0 !important;
}

.vscode-dark .comment-row {
	/* background-color: #5f5f5f!important; */
	color: #888787;
}

.vscode-dark .comment-row td:nth-child(n+3) {
	color: red;
}

/* context menu */
.vscode-dark .htContextMenu table tbody tr td {
	background-color: #262c2e !important;
	border-color: #5c5c5c !important;
}

.vscode-dark .htContextMenu table tbody tr td:hover {
	background-color: #4e4e4e !important;
}
.vscode-dark .htContextMenu table tbody tr td.htDisabled:hover {
	background-color: #262c2e !important;
}

.vscode-dark .htContextMenu table.htCore {
	border-color: #5c5c5c !important;
}

.vscode-dark .ht_master tr> td.search-result-cell {
	background-color: #585802; /* this is better for comments */
	/* background-color: #7b7b03; */
}

.vscode-dark .find-widget {
	background-color: #2a2a2a;
	/* filter: brightness(120%); */
}

.vscode-dark .find-widget .divider {
	background-color: #4c4c4c;
}

.vscode-dark .find-widget .btn.active {
	border-color: rgba(0, 122, 204, 0);
	background-color: rgba(0, 127, 212, 0.4);
}

.vscode-dark .find-widget .error-message {
	
}

.vscode-dark .options-title {
	color: #d0d0d0;
}

.vscode-dark .all-options table {
	border: 1px solid #5e5e5e;
}

.vscode-dark a {
	color: #5c9bff;
}

.vscode-dark .handsontable .htDimmed {
	/*color: #b7b7b7*/ /*harder to read*/
	color: inherit;
}

.vscode-dark .row-col-insert-btns {
	border-left: 1px solid #5e5e5e;
}

.vscode-dark .btn-with-menu-wrapper .menu {
	border: 1px solid var(--dropdown-border);
	background-color: var(--dropdown-background);
}
