body.vscode-light {
	color: #657b83;

	--button-icon-background: transparent;
	--button-icon-hover-background: rgba(90, 93, 94, 0.31);
	
	--input-foreground: #586e75;
	--input-background: #ddd6c1;
	--dropdown-border: #d3af86;
	--dropdown-background: #eee8d5;
	--checkbox-background: #eee8d5;
	--checkbox-border: #d3af86;

	--button-secondary-hover-background: #4c5561;

	--button-secondary-background: #5f6a79;
	--button-secondary-foreground: #ffffff;
	--foreground: #616161;
	--input-foreground: #586e75;
	--focus-border: #d3af86;
	--list-active-selection-background: #dfca88;
	--list-active-selection-foreground: #6c6c6c;
	--list-hover-background: rgba(223, 202, 136, 0.27);
}

.vscode-light .button.is-light {
	color: #657b83;
}

.vscode-light .button.is-outlined {
	color: #657b83;
	background-color: transparent;
}

.vscode-light .button.is-outlined:hover {
	background-color: #404040; /* maybe #676767 ??*/
	color: #d0d0d0;
}
.vscode-light .button.is-outlined:focus {
	background-color:transparent;
	color: #404040;
}

.vscode-light .radio:hover {
	color: #657b83;
}

/* handson table styles */

.vscode-light .ht_master,
.vscode-light .handsontable th {
	color: #657b83 !important;
}

/* fixed rows/columns */
.vscode-light .ht_clone_top tr:nth-of-type(odd)> td,
.vscode-light .ht_clone_left tr:nth-of-type(odd)> td,
.vscode-light .ht_clone_top_left_corner tr:nth-of-type(odd)> td {
	background-color: white;
}

.vscode-light .ht_clone_top tr:nth-of-type(even)> td,
.vscode-light .ht_clone_left tr:nth-of-type(even)> td,
.vscode-light .ht_clone_top_left_corner tr:nth-of-type(even)> td {
	background-color: #f7f7f7;
}

.vscode-light .ht_clone_top tr:last-child > td,
.vscode-light .ht_clone_top_left_corner tr:last-child > td {
	border-bottom-color: #3c3c3c;
}

.vscode-light .ht_clone_left tr > td:last-child,
.vscode-light .ht_clone_top_left_corner tr > td:last-child {
	border-right-color: #3c3c3c;
}

/* normal rows */
.vscode-light .ht_master tr:nth-of-type(odd) > td {
	background-color: white;
}

.vscode-light .ht_master tr:nth-of-type(even) > td {
	background-color: #f7f7f7;
}


.vscode-light .comment-row {
	/* background-color: #f7f7f7!important; */
	color: #b1b1b1;
}

.vscode-light .comment-row td:nth-child(n+3) {
	color: red;
}

/* context menu */
.vscode-light .htContextMenu table tbody tr td {
	background-color: white !important;
}

.vscode-light .htContextMenu table tbody tr td:hover {
	background-color: #e4e4e4 !important;
}
.vscode-light .htContextMenu table tbody tr td.htDisabled:hover {
	background-color: white !important;
}

.vscode-light .htContextMenu table.htCore {
	/* border-color: #5c5c5c !important; */
}

.vscode-light .ht_master tr> td.search-result-cell {
	background-color: #ffff5f!important;
}

.vscode-light .find-widget {
	background-color: #f3f3f3; /*from vs code light */
	/* filter: brightness(80%); */
}

.vscode-light .find-widget .divider {
	background-color: #c7c7c7;
}

.vscode-light .find-widget .btn.active {
	border-color: rgba(0, 122, 204, 0);
	background-color:rgba(0, 144, 241, 0.2)
}

.vscode-light .find-widget .error-message {
	color: white;
}

.vscode-light .options-title {
	color: #657b83;
}

.vscode-light .all-options table {
	border: 1px solid #5e5e5e;
}

.vscode-light a {
	color: #0866ff;
}

.vscode-light .handsontable .htDimmed {
	/*color: #8c8c8c*/ /*harder to read*/
	color: inherit;
}

.vscode-light .row-col-insert-btns {
	border-left: 1px solid #5e5e5e;
}