body.vscode-light {
	color: #657b83;
}

.vscode-light input.input,
.vscode-light .textarea {
	color: #657b83;
}

.vscode-light .button.is-light {
	color: #657b83;
}

.vscode-light .button.is-outlined {
	color: #657b83;
	background-color: transparent;
}

.vscode-light .button.is-outlined:hover {
	background-color: #404040; /* maybe #676767 ??*/
	color: #d0d0d0;
}
.vscode-light .button.is-outlined:focus {
	background-color:transparent;
	color: #404040;
}

.vscode-light .radio:hover {
	color: #657b83;
}

/* handson table styles */

.vscode-light .ht_master,
.vscode-light .handsontable th {
	color: #657b83 !important;
}

/* fixed rows/columns */
.vscode-light .ht_clone_top tr:nth-of-type(odd)> td,
.vscode-light .ht_clone_left tr:nth-of-type(odd)> td,
.vscode-light .ht_clone_top_left_corner tr:nth-of-type(odd)> td {
	background-color: white;
}

.vscode-light .ht_clone_top tr:nth-of-type(even)> td,
.vscode-light .ht_clone_left tr:nth-of-type(even)> td,
.vscode-light .ht_clone_top_left_corner tr:nth-of-type(even)> td {
	background-color: #f7f7f7;
}

.vscode-light .ht_clone_top tr:last-child > td,
.vscode-light .ht_clone_top_left_corner tr:last-child > td {
	border-bottom-color: #3c3c3c;
}

.vscode-light .ht_clone_left tr > td:last-child,
.vscode-light .ht_clone_top_left_corner tr > td:last-child {
	border-right-color: #3c3c3c;
}

/* normal rows */
.vscode-light .ht_master tr:nth-of-type(odd) > td {
	background-color: white;
}

.vscode-light .ht_master tr:nth-of-type(even) > td {
	background-color: #f7f7f7;
}


.vscode-light .comment-row {
	/* background-color: #f7f7f7!important; */
	color: #b1b1b1;
}

.vscode-light .comment-row td:nth-child(n+3) {
	color: red;
}

/* context menu */
.vscode-light .htContextMenu table tbody tr td {
	background-color: white !important;
}

.vscode-light .htContextMenu table tbody tr td:hover {
	background-color: #e4e4e4 !important;
}
.vscode-light .htContextMenu table tbody tr td.htDisabled:hover {
	background-color: white !important;
}

.vscode-light .htContextMenu table.htCore {
	/* border-color: #5c5c5c !important; */
}

.vscode-light .ht_master tr> td.search-result-cell {
	background-color: #ffff00!important;
}

.vscode-light .find-widget {
	background-color: rgb(221, 221, 221);
}

.vscode-light .find-widget .divider {
	background-color: #c7c7c7;
}

.vscode-light .find-widget .btn.active {
	background-color: #a3c7ff;
}

.vscode-light .find-widget .error-message {
	color: white;
}

.vscode-light .options-title {
	font-size: 130%;
	color: #657b83;
}

.vscode-light .all-options table {
	border: 1px solid #8e8e8e;
	border-collapse: initial;
	border-radius: 10px;
}

.vscode-light a {
	color: #0866ff;
}

.vscode-light .handsontable .htDimmed {
	/*color: #8c8c8c*/ /*harder to read*/
	color: inherit;
}