
html, body {
	height: 100%;
}

.page {
	display: flex;
	flex-direction: column;
}

.full-h {
	height: 100%;
}

.csv-editor-wrapper {
	background-color: black;
	/* flex: 1; */
}

#csv-editor {
	overflow: hidden;
	width: 500px;
	height: 500px;
}

.options-bar {
	padding: 0.5em;
	border: 1px solid#adadad;
	border-radius: 10px;
	/* display: flex;
	flex-direction: column; */
	min-width: 180px;
}

.all-options {
	display: flex;
	align-items: baseline;
}



.options-title {
	font-size: 1.5rem;
	/* transform: rotate(180deg);
	writing-mode: vertical-rl; */
}

.options-title i {
	vertical-align: text-bottom
}


.hoverable {
	opacity: 0.7;
}

.clickable {
	opacity: 0.7;
	cursor: pointer
}

.clickable:hover {
	opacity: 1;
}

.options-content {
	margin-top: 0.5em;
	height: 170px;
}

input.input {
	width: 110px;
}

.field > label  {
	display: block
}

.flexed {
	display: flex
}

.mar-left {
	margin-left: 1em;
}

.mar-left-half {
	margin-left: 0.5em;
}

.mar-bot {
	margin-bottom: 1em;
}

.handsontable th .remove-col,
.handsontable th .remove-row {
	visibility: hidden;
}

.handsontable th:hover .remove-col,
.handsontable th:hover .remove-row {
	visibility: visible;
}
.handsontable th .remove-col:hover,
.handsontable th .remove-row:hover {
	visibility: visible;
	opacity: 1;
}

.remove-col,
.remove-row {
	margin-right: 4px; /*we need this else the sorting arrow will intersect this and causes flickering*/
}